
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
*{
    padding: 0px;
    margin:0px;
    font-family: 'Spartan';
}

body{
    background-image: url('img/bg-pattern-top-desktop.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;

    background-image: url('img/bg-pattern-bottom-desktop.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
}


.lfo9{
    display: flex;
    padding: 80px 30px;
    align-content:space-between;
    justify-content: center;
    color:rgb(81,31,80);
    

}
.rating{
    display: flex;
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 13px;
    border-radius:6px;
    height:44px;
    justify-content:center;
    align-items:center;
    padding: 0px 17px;
    width: 390px;
    
    

}
.rating:nth-child(2){
    margin-left:30px;
}

.rating:nth-child(3){
    margin-left:60px;
}
.text{
    padding-right: 40px;
}
.reviews{
    padding-left: 40px;
}
.lfo9 h1{
    font-weight: 700;
    margin-bottom: 12px;
}
.lfo9 h3{
    margin-left:20px;
}
.bottom-section{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}
.person-info{
   display:flex;
   flex-direction: row;
   text-align: center;
   margin-bottom: 10px;

}
.info{
    margin-left: 20px;
    font-family: 'Spartan';
    margin-top: 20px;
}
.description{
    text-align: center;
    font-size: medium;
}
    .cardc1{
    border-style: solid;
    border-radius: 20px;
    background-color:rgb(81,31,80);
    color: wheat;
    border-width: 30%;
    margin-bottom: 60px;
    }
   span{
       color: pink;
   }
    
    .cardc2{
        border-style: solid;
        border-radius: 20px;
        background-color:rgb(81,31,80);
        color: wheat;
        margin-top: 20px;
        border-width: 30%;
        margin-bottom: 40px;
    }
        

    .cardc3{

            border-style: solid;
            border-radius: 20px;
            background-color:rgb(81,31,80);
            color: wheat;
            margin-top: 60px;
            border-width: 30%;
            }
            

    .avatar{

    border-style: solid;
    border-radius: 20px;
    background-color:rgb(81,31,80);
    color: wheat;
    width:75px;
    clip-path:ellipse(40% 40%);

}
@media (max-width:600px){
.bottom-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lfo9{
    display: flex;
    flex-direction: column;
}
.rating{
    margin-left: 0px;
    margin-top: 30px;
    
}
.rating:nth-child(2){
    margin-left: 0px;
    
}
.rating:nth-child(3){
    margin-left: 0px;
    
}
.text{
    font-size: large;
    justify-content: left;

}
.cardc3{
    margin-top: 20px;
}
.cardc1{
    margin-bottom: 20px;
}
.cardc2{
    margin-bottom: 20px;
}
}
